playground/src/main/resources/data/out/*

# Files to exclude. Taken from 
#   http://gary-rowe.com/agilestack/2012/10/12/a-gitignore-file-for-intellij-and-eclipse-with-maven/

# Eclipse
.classpath/
.project/
.settings/

# Intellij
# ignore directories that contain .idea/ (can even be in subdirectory)
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
