<Configuration status="WARN" monitorInterval="60">
<!--    <Properties>-->
<!--        <Property name="logPath">logs</Property>-->
<!--    </Properties>-->

    <Properties>
        <Property name="LOG_PATTERN">%style{%date{DEFAULT}}{yellow} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %c{1.} - %message: MDC=%X %n</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="JsonAppender" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:mylog4j_format.json" locationInfoEnabled="true">
                <EventTemplateAdditionalField key="host" value="www.automon.org"/>
<!--                <EventTemplateAdditionalField key="method" value="${source:methodName}"/>-->
            </JsonTemplateLayout>
        </Console>

        <Console name="AutomonConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

<!--        Async appender is not needed but probably a good idea in a production application -->
        <Async name="AsyncAppender">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="JsonAppender"/>
        </Async>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="AsyncAppender"/>
        </Root>
        <Logger name="com.stevesouza.aspectj.logging.automon.basic.TracingBasicAspect" level="INFO" additivity="false">
            <AppenderRef ref="AutomonConsoleAppender"/>
        </Logger>
        <Logger name="com.stevesouza.aspectj.logging.automon.all.NativeAspectLoggingAutomonAll" level="INFO" additivity="false">
            <AppenderRef ref="AutomonConsoleAppender"/>
        </Logger>
    </Loggers>

</Configuration>